<h2>記事一覧</h2>

<% @articles.each do |article| %>
  <p>
    <%= link_to article.title, article_path(article.id) %><span class="name">(<%= article.name %>)</span><br>
    <%= article.text %>
  </p>
<% end %>